* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.header {
    background-color: #1F2937;
    width: 100%;
    height: 33%;
    color: #f9faf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img-one {
    width: 600px;
    height: 300px;
    border-radius: 5px;
}
.head-container {
    width: 66%;
    background-color: crimson; 
    margin: 0 auto;
}
.logo-nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}
.logo-nav h1 {
    font-size: 24px;
}
.navigation {
    display: flex;
    gap: 15px;
}
.navigation li {
    color: #e5e7eb;
    font-size: 18px;
}
.h2-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 10%;
    background-color: darkgreen;
}
.awsome{
    width: 45%;
}
.awsome h2 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.awsome p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
}
.random-stuff {
    background-color: deepskyblue;
    height: 33%;
    width: 100%;
    padding-bottom: 5%;
}
.random-stuff h3 {
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  margin: 0 auto;
  background-color: aquamarine;
  justify-content: space-between;
}
.box1-text {
    width: 200px;
}
.box1-text p {
    width: 100%;
    text-align: center;
}
.box2-text {
    width: 200px;
}
.box2-text p {
    width: 100%;
    text-align: center;
}
.box3-text {
    width: 200px;
}
.box3-text p {
    width: 100%;
    text-align: center;
}
.box4-text {
    width: 200px;
}
.box4-text p {
    width: 100%;
    text-align: center;
}
.box-one {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.box-two {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.box-three {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.box-four {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
@media screen and (maxwidth: 400px) {
    .img-one {
        width: 100%;
        flex-grow: 1;
    }
    
}