* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.header {
    background-color: #1F2937;
    width: 100%;
    height: 33%;
    color: #f9faf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img-one {
    width: 45%;
    border-radius: 5px;
    flex-shrink: 1;
}
.head-container {
    width: 66%;
    background-color: crimson; 
    margin: 0 auto;
}
.logo-nav {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}
.logo-nav h1 {
    font-size: 24px;
}
.navigation {
    display: flex;
    gap: 15px;
}
.navigation li {
    color: #e5e7eb;
    font-size: 18px;
}
.h2-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 10%;
    background-color: darkgreen;
    margin: 0 auto;
}
.awsome{
    width: 45%;
}
.awsome h2 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.awsome p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
}
.random-stuff {
    background-color: deepskyblue;
    height: 33%;
    width: 100%;
    padding-bottom: 10%;
}
.random-stuff h3 {
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
  background-color: aquamarine;
  justify-content: space-between;
}
.box1-text {
    width: 200px;
}
.box1-text p {
    width: 100%;
    text-align: center;
}
.box2-text {
    width: 200px;
}
.box2-text p {
    width: 100%;
    text-align: center;
}
.box3-text {
    width: 200px;
}
.box3-text p {
    width: 100%;
    text-align: center;
}
.box4-text {
    width: 200px;
}
.box4-text p {
    width: 100%;
    text-align: center;
}
.box-one {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.box-two {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.box-three {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.box-four {
    border: 5px solid red;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.quote {
    background-color: #e5e7eb;
    padding: 50px;
    height: 20%;
    width: 100%;
}
.thor-quote {
    margin: 0 auto;
    width: 60%;
    font-size: 38px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding-top: 100px;
    padding-bottom: 100px;
}
.thor {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.call-action {
    background-color: #f9faf8;
    width: 100%;
    height: 15%;
}
.click-here {
  display: flex;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: greenyellow;
}
.it-time {
    background-color: tomato;
    margin: 0 auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    width: 65%;
    border-radius: 8px;
}
.click-again {
    width: 65%;
}
.click-again h4 {
    font-size: large;
}
.btn {
    background-color: #3882f6;
    padding: 10px 35px;
    border-radius: 8px;
    color: #f9faf8;
    max-width: 130px;
}
.it-time .btn {
    border: 2px solid #f9faf8;
}
.footer {
    background-color: #1F2937;
    padding: 40px;
    width: 100%;
    font-size: small;
    color: #f9faf8;
}
.footer p {
    margin: 0 auto;
    background-color: cadetblue;
    width: fit-content;
}










